@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 198 100% 99%;
  --foreground: 222 47% 11%;
  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
  --primary: 196 84% 32%;
  --primary-foreground: 0 0% 100%;
  --secondary: 160 40% 95%;
  --secondary-foreground: 173 58% 14%;
  --muted: 210 40% 96%;
  --muted-foreground: 215 16% 47%;
  --accent: 198 70% 95%;
  --accent-foreground: 199 89% 18%;
  --border: 210 30% 90%;
  --input: 210 30% 90%;
  --ring: 196 84% 32%;
  --radius: 1.2rem;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
}
